body {
  background-image: url(bc-santa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
.crossed {
  text-decoration: line-through 2px black;
}
li {
  text-transform: uppercase;
 color: #fff;
  margin: 5px;
  width: 300px;
  list-style-type: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  
}
h1 {
  margin: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 55px;
  color: #fff;
}
.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}
input {
  padding: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 10px 10px 10px #5a0417;
}
button {
  padding: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  background-color: #7cb1ff;
  border: none;
  border-radius: 30px;
  padding: 15px;
}
.line {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin-top: -10px;
}
.about-title {
  display: flex;
  align-items: center;
}
.delete {
  flex: 1;
}
img {
  margin-right: 10px;
}

